* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FAF1E4;
}

body {
  font-family: "Lato", sans-serif;
}

  /* Logo top left navbar*/
  .logo{
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  .logo p{
    margin-left: 30px;
    margin-top: 5px;
    color: #f1b647;
    -webkit-text-stroke: 1px black;
  }
.logo-img{
  margin-left: 40px;
  height: 70px;
  width: 70px;
}
    /* Placement of navigation bar*/
.navbar {
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-right: 10px;
  width: 100%;
  background-color: #9EB384;
  font-size: 1.5rem;
  border-bottom: 10px solid #F78CA2;
 
}
  
.navbar-links {
  list-style-type: none;
  display: flex;
  margin-top: 10px;


}
  /* Styling and placement of a Navbar Elements-Items*/
.navbar-links li a {
  display: flex;
  text-decoration: none;
  color: #fdc55b;
  padding: 20px 30px;
  font-weight: 700;
  transition: 0.5s all;
}

.navbar-links li.navbar-dropdown {
  position: relative;
}

.navbar-links li.navbar-dropdown:hover .dropdown {
  visibility: visible;
  opacity: 1;
  transform: translateY(10px);
}

.navbar-links li.navbar-dropdown .dropdown {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding: 20px 0;
  top: 90%;
  width: 280px;
  background-color: #eef7e3bc;;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: 0.4s all;
}
.navbar-links li.navbar-dropdown .dropdown a {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 600;
}

.navbar-links li a:hover {
  color: black;
}


/* main styling*/

.section1 {
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.box2 {
    width: 40%;
}

.box1 h1 {
    font-size: 45px;
    font-family: "Roboto", "serif";
    text-transform: uppercase;
    font-weight: bold;
}

.box1 img {
    width: 500px;
    border-radius: 20px;
}


.box2 {
    width: 40%;
    margin-top: 100px;
}

.box2 h2 {
    font-family: "Roboto", "serif";
    text-transform: uppercase;
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 15px;
}

.box2 ul {
    font-family: "Roboto", "serif";
    list-style: circle;
    font-size: 20px;
    margin-left: 20px;
}


.section2 {
    display: flex;
    justify-content: center;
    text-align: center;
}

.box3 {
    width: 85%;
}

.preparation {
    font-family: "Roboto" , "serif";
    font-size: 25px;
    margin-bottom: 30px;
}

.preparation-text {
    font-family: "Roboto", "serif";
    font-size: 15px;
}


/* FOOTER STYLING SECTION*/
footer{
  background-color: #9EB384;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 10px solid #F78CA2;
}
.container-footer{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 8px;
}
.footer-about{
  
  display:flex;
  flex-direction: column;
  margin-left: 4%;
  flex: 2;

}
footer h6 {
  
  font-size: 1.8rem;
  color: #0e0d0d;
  }

footer p{
  text-indent: 30px;
}
.quick-links{
  flex: 1;
  margin: 0 4%;
  
  
}
.quick-links li a{
  display: flex;
  text-decoration: none;
  font-weight: 400;
  list-style: disc;
  color: black;
}
.footer-subscribe{
  display: flex;
  flex-direction: column;
  flex:1;
  justify-content: center;
  align-items: center;
  margin-right: 4%;
  margin-top: 0;;
  
}
.footer-input{
  width: 270px;
  height: 60px;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  border: solid #F78CA2;
}
.footer-button{
  margin-top: 20px;
  width: 200px;
  height: 60px;
  border-radius: 10px;
  border: solid #F78CA2;
  background-color: #f1b647;

}
.footer-button:hover{
  border: solid #f1b647;
  background-color: #F78CA2;
}
/*Footer social media icons*/

.footer-icons {
  display: flex;
  font-size: 40px;
  text-decoration: none;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 20px;
 
}
.footer-icons a{
 
 margin-bottom: 10px;
 color: #0e0d0d;
 height: 50px;
  width: 30px;
}
.fa{
  text-decoration: none;
  margin: 10px 25px;
  
}
.fa:hover{
  color: #f1b647;
  font-size: 50px;
}

